@using FlappyBird.Models
<div class="game-container" tabindex="0" @onclick="StartGame" @onkeyup="HandleKeyUp">
    <div class="sky">
        <div class="bird"></div>
    </div>
    @if (_gameManager == null)
    {
        <em>Loading...</em>
    }
    else
    {
        <div class="game-container">
            <div class="sky">
                <div class="bird" style="@_birdCss"></div>
            </div>
            <div class="ground"></div>
        </div>
    }

    <div class="ground"></div>

    @code {
        GameManager _gameManager { get; set; }
        string _birdCss => $"bottom: {_gameManager.Bird.DistanceFromBottom}px";
        protected override void OnInitialized()
        {
            _gameManager = new GameManager();
            _gameManager.PropertyChanged += (o, e) => StateHasChanged();
        }
        void StartGame()
        {
            _gameManager.MainLoop();

        }
        void HandleKeyUp(KeyboardEventArgs e)
        {
            if (_gameManager.IsRunning && e.Key == " ")
            {
                _gameManager.Bird.Jump();
            }
        }

    }
</div>